.home-section1{
    height: auto;
    padding-top: 15%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}
.player{
    position: relative;
}
.home-section1-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#section1-title{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .25rem;
    color: #00507D;
}
#section1-text{
    font-size: 1.2rem;
    color: #0d0d0d91;
}
.icon{
    background: url(/src/Assets/play.svg);
    height: 80px;
    width: 80px;
    display: block;
}
.home-section2{
    height: auto;
    background-color: #011126;
    position: relative;
    padding-bottom: 8rem;
}
#home-section2-shape{
    position: absolute;
    width: 35rem;
    right: 0;
    top: -8rem;
}
.home-section2-content{
    display: flex;
    flex-direction: column;
    column-gap: 20rem;
}
#home-section2-history{
    font-size: 5.5rem;
    font-weight: 200;
    color: #fff;
    padding-top: 8rem;
    letter-spacing: .25rem;
}
.dot{
    position: absolute;
    margin-top: 4.5rem;
    background: rgb(242, 31, 89);
    width: 12px;
    height: 12px;
    border-radius: 1rem;
}
.home-section2-text{
    position: relative;
    padding-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
#home-section2-text-title{
    font-size: 4rem;
    color: #fff;
    font-weight: 100;
}
#home-section2-text-text{
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 300;
}
.line{
    position: absolute;
    background: rgb(242, 31, 89);
    width: 5rem;
    height: .15rem;
    left: 0;
    bottom: 8.3rem;
}
.home-section3{
    height: auto;
    position: relative;
    padding-bottom: 5rem;
}
.rectangle-bg{
    position: absolute;
    width: 50%;
    height: 5rem;
    background-color: #011126;
    top: 4rem;
    z-index: -1;
}
#what-we{
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1rem;
    padding-top: 4rem;
    padding-left: 16%;
}
#do{
    color: #F21F59;
}
.what-we-do-services{
    margin-top: 5rem;
}
.home-section4{
    height: auto;
    padding-bottom: 1rem;
}
.home-section4-title{
    position: relative;
    width: 100%;
    height: auto;
}
#title-work{
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: .2rem;
    padding-left: 7rem;
}
.linee{
    position: absolute;
    background: rgb(242, 31, 89);
    width: 5rem;
    height: .15rem;
    left: 0;
    bottom: 1.3rem;
}
.home-section5{
    height: 100vh;
    background-image: url(../Assets/contact-meshcom.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 3rem;
}
.home-section5-title{
    position: relative;
}
#title-contactus{
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: .2rem;
    padding-left: 7rem;
    color: #fff;
}
.lineee{
    position: absolute;
    background: rgb(242, 31, 89);
    width: 5rem;
    height: .15rem;
    left: 0;
    bottom: 1.2rem;
}
.home-section5-form{
    display: flex;
    justify-content: space-between;
}
.get-in-touch{
    width: 40%;
    height: 31.5rem;
    position: relative;
}
#get-in-touch{
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: #fff;
    opacity: .5;
    position: absolute;
    bottom: .3rem;
    left: 0;
}
.carousel-status{
    display: none !important;
}
.control-dots{
    display: none !important;
}
.legend{
    display: block !important;
    background: none !important;
    color: #011126 !important;
    font-weight: 700 !important;
    letter-spacing: .2rem !important;
    text-transform: uppercase !important;
    opacity: 1 !important;
    font-size: 2rem !important;
}
.carousel-slider{
    width: 100% !important;
    margin: 0 auto !important;
}
.thumbs-wrapper {
    display: flex !important; 
    justify-content: center !important;
}

@media screen and (max-width: 1024px) {
    .home-section1{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    #widget2{
        width: 120%;
    }
    .icon{
        display: none;
    }
    #home-section2-shape{
        width: 26rem;
        top: -6rem;
    }
    #what-we{
        padding-left: 13%;
    }
    .home-section4{
        height: auto;
        padding-bottom: 5rem;
    }
    .home-section5{
        height: auto;
        padding-bottom: 8rem;
    }
    #title-contactus{
        font-size: 3.5rem;
    }
    #get-in-touch{
        font-size: 4rem;
    }
    form button {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .home-section1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        gap: 2rem;
        align-items: center;
    }
    .icon{
        display: none;
    }
    #widget2{
        width: 100%;
    }
    #home-section2-shape{
        width: 43%;
        top: -10%;
    }
    #home-section2-history{
        font-size: 4rem;
    }
    .dot{
        margin-top: 3.2rem;
    }
    .home-section2-text{
        padding-top: 4rem;
        justify-content: space-between;
    }
    #home-section2-text-title{
        font-size: 3rem;
    }
    #home-section2-text-text{
        font-size: 1.1rem;
    }
    .line{
        bottom: 9.5rem;
    }
    #what-we{
        font-size: 3.5rem;
        padding-left: 5%;
    }
    .home-section4{
        height: auto;
        padding: 3rem 3rem;
    }
    .home-section5{
        height: auto;
        padding-bottom: 0;
    }
    #title-contactus{
        font-size: 3rem;
    }
    #get-in-touch{
        font-size: 3rem;
        opacity: 0.75;
        bottom: 22%;
        left: 15%;
    }
    .contact-form-home form{
        height: 75%;
    }
    .legend{
        bottom: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    #mainimgg{
        width: 70%;
    }
    .home-section1{
        align-items: baseline;
    }
    #widget2{
        width: 50%;
    }
    .home-section2 {
        padding-bottom: 4rem;
    }
    #home-section2-shape{
        width: 50%;
        top: -5%;
    }
    #home-section2-history{
        font-size: 2.1rem;
    }
    .dot{
        width: 8px;
        height: 8px;
        margin-top: 1.6rem;
    }
    .home-section2-text{
        column-gap: 4rem;
    }
    #home-section2-text-title{
        font-size: 1.75rem;
    }
    #home-section2-text-text{
        font-size: 0.9rem;
    }
    .line{
        bottom: 18.5rem;
        width: 85px;
        height: 6px;
        border-radius: 5px;
    }
    .rectangle-bg{
        width: 70%;
        height: 3.75rem;
    }
    #what-we{
        font-size: 1.5rem;
        padding-top: 5rem;
        letter-spacing: 0.5rem;
    }
    .show-btn{
        display: none;
    }
    .elements-show{
        border: 0;
    }
    .home-section4{
        height: auto;
        padding: 2rem 2rem;
    }
    .home-section4-title {
        height: 5rem;
    }
    #title-work{
        font-size: 3.5rem;
    }
    .linee{
        bottom: 1.75rem;
    }
    .home-section5{
        height: auto !important;
        padding-top: 3rem !important;
        padding-bottom: 6rem !important;
    }
    #title-contactus{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .lineee{
        width: 55px;
    }

    .get-in-touch{
        display: none;
    }
    form{
        align-items: flex-start !important;
    }
    .formWord{
        font-size: .8rem;
    }
    .formWord textarea {
        height: 135px;
    }
    .contact-form-home {
        width: 100% !important;
        height: auto;
    }
    .contact-form-home form {
        height: auto;
        padding: 3rem 1rem;
    }
    form button{
        width: 100% !important;
    }
    .home-section5{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .carousel-slider{
        width: 100% !important;
        margin: 0 auto !important;
        height: auto !important;
        padding-bottom: 2rem !important;
    }
    .thumbs-wrapper{
        display: none !important;
    }
    .slider-wrapper{
        height: auto !important;
        padding-bottom: 2rem !important;
    }
    .legend{
        bottom: -3rem !important;
        font-size: 1rem !important;
    }
}