.sidebar{
    width: 250px;
    background: #011a3b;
    position: absolute;
    height: 100vh;
    right: -150%;
    top: -105%;
    z-index: -1;
    padding: 0 5px;
    opacity: 0;
    visibility: hidden;
}
.sidebar.active{
    transform-origin: bottom;
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}
.sidebar ul{
    margin-top: 70%;
    padding: 0;
}
.sidebar ul li {
    list-style-type: none;
    margin: 2.5rem 0;
}
.sidebar ul li a{
    color: #fff !important;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}
.sidebar ul li a:hover,
.sidebar ul li a:active{
    color: #fff;
    background: rgba(255, 255, 255, 0.075);
}
.sidebaar{
    position: absolute;
    right: 2%;
}
.sidebaar svg{
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    transition: all .5s;
}

@media screen and (max-width:1024px){
    .sidebar{
        width: 190px;
        padding: 0;
    }
    .sidebar ul li a{
        font-size: 1.1rem;
    }
    .sidebaar svg{
        right: 20%;
        font-size: 25px;
    }
}